/models/Binary-Classifier/
/models/MetaClassifier/
.DS_Store
pretrained/__pycache__/histogram.cpython-311.pyc
workshop/.ipynb_checkpoints/1-hands-on-MegaPlantTF-checkpoint.ipynb
workshop/BLAST/utils/__pycache__/metric.cpython-311.pyc
workshop/BLAST/utils/__pycache__/metric.cpython-311.pyc
pretrained/__pycache__/histogram.cpython-311.pyc
/data/testset-full/k2/testset.csv
/data/testset-full/k3/testset.csv
/data/testset-full/k4/testset.csv
/data/testset-full/k5/testset.csv
/workshop/BLAST/blast_result.txt
workshop/BLAST/utils/__pycache__/metric.cpython-311.pyc
.ipynb_checkpoints
.vscode/
test/results/**/*.png
test/BLAST/database/pygenomics_ref_db.pin
test/BLAST/database/pygenomics_ref_db.pjs
pretrained/__pycache__/
test/BLAST/blast_result.txt
test/BLAST/utils/__pycache__/
/run-as-script/error.dox
analysis/taxdump.tar.gz
