/models/Binary-Classifier/
/models/MetaClassifier/
.DS_Store
pretrained/__pycache__/histogram.cpython-311.pyc
workshop/.ipynb_checkpoints/1-hands-on-MegaPlantTF-checkpoint.ipynb
workshop/BLAST/utils/__pycache__/metric.cpython-311.pyc
workshop/BLAST/utils/__pycache__/metric.cpython-311.pyc
pretrained/__pycache__/histogram.cpython-311.pyc
/data/testset-full/k3/testset.csv
/workshop/BLAST/blast_result.txt
workshop/BLAST/utils/__pycache__/metric.cpython-311.pyc
.ipynb_checkpoints
.vscode/