*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/AP2/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/AP2/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/AP2/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/AP2/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ARF/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ARF/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ARF/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ARF/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ARR-B/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ARR-B/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ARR-B/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ARR-B/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/B3/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/B3/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/B3/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/B3/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/BBR-BPC/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/BBR-BPC/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/BBR-BPC/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/BBR-BPC/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/BES1/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/BES1/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/BES1/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/BES1/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/bHLH/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/bHLH/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/bHLH/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/bHLH/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/bZIP/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/bZIP/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/bZIP/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/bZIP/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/C2H2/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/C2H2/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/C2H2/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/C2H2/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/C3H/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/C3H/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/C3H/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/C3H/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CAMTA/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CAMTA/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CAMTA/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CAMTA/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CO-like/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CO-like/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CO-like/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CO-like/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CPP/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CPP/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CPP/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/CPP/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/DBB/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/DBB/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/DBB/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/DBB/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Dof/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Dof/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Dof/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Dof/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/E2F__DP/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/E2F__DP/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/E2F__DP/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/E2F__DP/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/EIL/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/EIL/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/EIL/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/EIL/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ERF/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ERF/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ERF/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ERF/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/FAR1/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/FAR1/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/FAR1/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/FAR1/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/G2-like/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/G2-like/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/G2-like/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/G2-like/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GATA/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GATA/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GATA/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GATA/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GeBP/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GeBP/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GeBP/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GeBP/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GRAS/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GRAS/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GRAS/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GRAS/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GRF/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GRF/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GRF/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/GRF/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HB-other/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HB-other/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HB-other/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HB-other/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HB-PHD/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HB-PHD/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HB-PHD/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HB-PHD/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HD-ZIP/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HD-ZIP/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HD-ZIP/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HD-ZIP/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HRT-like/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HRT-like/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HRT-like/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HRT-like/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HSF/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HSF/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HSF/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/HSF/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LBD/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LBD/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LBD/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LBD/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LFY/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LFY/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LFY/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LFY/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LSD/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LSD/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LSD/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/LSD/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/M-type_MADS/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/M-type_MADS/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/M-type_MADS/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/M-type_MADS/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MIKC_MADS/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MIKC_MADS/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MIKC_MADS/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MIKC_MADS/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MYB_related/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MYB_related/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MYB_related/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MYB_related/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MYB/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MYB/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MYB/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/MYB/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NAC/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NAC/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NAC/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NAC/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-X1/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-X1/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-X1/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-X1/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YA/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YA/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YA/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YA/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YB/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YB/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YB/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YB/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YC/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YC/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YC/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NF-YC/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Nin-like/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Nin-like/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Nin-like/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Nin-like/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NZZ__SPL/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NZZ__SPL/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NZZ__SPL/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/NZZ__SPL/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/RAV/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/RAV/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/RAV/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/RAV/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/S1Fa-like/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/S1Fa-like/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/S1Fa-like/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/S1Fa-like/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SAP/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SAP/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SAP/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SAP/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SBP/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SBP/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SBP/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SBP/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SRS/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SRS/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SRS/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/SRS/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/STAT/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/STAT/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/STAT/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/STAT/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/TALE/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/TALE/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/TALE/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/TALE/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/TCP/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/TCP/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/TCP/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/TCP/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Trihelix/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Trihelix/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Trihelix/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Trihelix/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/VOZ/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/VOZ/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/VOZ/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/VOZ/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Whirly/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Whirly/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Whirly/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/Whirly/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/WOX/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/WOX/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/WOX/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/WOX/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/WRKY/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/WRKY/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/WRKY/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/WRKY/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/YABBY/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/YABBY/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/YABBY/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/YABBY/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ZF-HD/FEEDFORWARD_k2.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ZF-HD/FEEDFORWARD_k3.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ZF-HD/FEEDFORWARD_k4.keras filter=lfs diff=lfs merge=lfs -text
Binary-Classifier/ZF-HD/FEEDFORWARD_k5.keras filter=lfs diff=lfs merge=lfs -text
